a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent element */
}


/* General Styles */
body {
    font-family: 'Raleway', sans-serif;  /* You can choose a different font family */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  /* Header Styles */
  header {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
    color: #333;
  }
  
  /* Main Section Styles */
  main {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    width: calc(50% - 60px);  /* Adjust width for responsiveness */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Section Headings */
  .section-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Section List Styles */
  .section-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .section-list li {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .section-list li:last-child {
    margin-bottom: 0;
  }
  
  /* .section-list li br {
    display: none;
  } */
  
  /* Project Accomplishment Highlighting */
  .section-list li em {
    font-style: italic;
    color: #666;
  }
  
  .section-list .highlight {
    font-weight: 600;
  }
  
  /* Specific Section Styling (Optional) */
  
  /* Education Section */

  
  /* Other sections can have similar styling customizations */

  