name: Blob storage website CI

on:
    push:
        branches: master
        paths: 'frontend/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: azure/login@v1
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS_STATIC }}

    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
            az storage blob upload-batch --overwrite --account-name ${{ secrets.STATIC_WEBSITE_STORAGE_ACCOUNT_NAME }} --auth-mode key -d '$web' -s ./frontend/ 

    - name: Purge CDN endpoint
      uses: azure/CLI@v1
      with:
        inlineScript: |
           az cdn endpoint purge --no-wait --content-paths  "./frontend/*" --profile-name ${{ secrets.STATIC_WEBSITE_CDN_PROFILE_NAME}} --name ${{ secrets.STATIC_WEBSITE_CDN_ENDPOINT}} --resource-group ${{secrets.RESOURCE_GROUP}}

  # Azure logout
    - name: logout
      run: |
            az logout
      if: always()